{% extends 'base.html' %}

{% block content %}
<table class="table">
        <tr>
          <th>From Location</th>
          <th>To Location</th>
          <th>Product ID</th>
          <th>Timestamp </th>
          <th>Quantity</th>
          
        </tr>
        <tr>
          <td>{{ object.from_location }}</td>
          <td> {{ object.to_location }}</td>
          <td>{{ object.product_id }}</td>
          <td>{{ object.timestamp }}</td>
          <td>{{ object.from_location_qty  }}</td>
          
        </tr>
</table>
<h1> Product Name: {{ object.product_id }}</h1>
<h1> From Location: {{ object.from_location }}</h1>
<h1> To location: {{ object.to_location }}</h1>
<h1> Quantity: {{ object.qty }}</h1>
<h1> Quantity at loc: {{ object.from_location_qty }}</h1>
<h1> Timestamp: {{ object.timestamp }}</h1>



{% endblock %}

